@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-800 bg-slate-50 min-h-screen;
  }
}

@layer utilities {
  .stagger-1 {
    animation-delay: 0.08s;
  }
  .stagger-2 {
    animation-delay: 0.16s;
  }
  .stagger-3 {
    animation-delay: 0.24s;
  }
}
